<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="linq.Properties.Settings.SampleConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="linq.Properties.Settings.SampleConnectionString1"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>